<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Tracking App</title>

    <!-- Link to your CSS file for styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1 class="page-title">Weather Tracking App</h1>
    </header>

    <main>
        <!-- Flash messages for errors -->
        <div class="flash-messages">
            {% with messages = flash_messages.get('error', []) %}
            {% for message in messages %}
            <p class="flash-message error">{{ message }}</p>
            {% endfor %}
            {% endwith %}
        </div>

        <!-- Flash messages for success -->
        <div class="flash-messages">
            {% with messages = flash_messages.get('success', []) %}
            {% for message in messages %}
            <p class="flash-message success">{{ message }}</p>
            {% endfor %}
            {% endwith %}
        </div>

        <section class="weather-input">
            <label for="city">Enter City: </label>
            <input type="text" id="city" class="city-input" placeholder="City">
            <button id="getWeatherBtn" class="get-weather-btn">Get Weather</button>
        </section>

        <section id="weatherData" class="weather-data">
            <!-- Weather data will be displayed here -->
        </section>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
